/*  180108 Gabriel Rosario stylessheet */

@mixin my-gradient($from, $to, $stop: 100%) {
    /* fallback/image non-cover color */
    background-color: $from;
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient(left, $from 0%, $to $stop);
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, $from), color-stop($stop, $to));
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient(left, $from 0%, $to $stop);
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(left, $from 0%, $to $stop);
    /* IE10+ */
    background: -ms-linear-gradient(left, $from 0%, $to $stop);
    /* Standard */
    background: linear-gradient(to right, $from 0%, $to $stop);
    /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to', GradientType=1);
}
.btn {
    @include my-gradient(#ee4640, #ec2d8b);
    &.btn--share {
        background: transparent;
    }
    &.white {
        color: white;
    }
}
.small--hide.white a { 
    color: white;
}
.site-nav--active {
    padding: 1px 4px;
    border: 1px solid white;
    border-radius: 2px;
}
.hero__btn.white {
    background: transparent;
    margin-left: 15px;
    border: 1px solid;
        :hover {
            color: gray;
            background: white;
        }
}
/* =============== global ================ */
body {
    max-width: 1820px;
    margin: 0 auto;
}
header.fixed-header {
    position: fixed;
}
img {
    border-radius: 5px;
}
.mega-title,
h2,
h1,
h5 {
    text-transform: capitalize !important;
}
.site-header__logo-image {
    width: 125px;
    display: inline-block; 
}
.hero__inner.about {
    padding: 0 11vw;

    .hero-content {
        width: 75%;
    }
}
.hero-video {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1; 
        .bg-color-layer {
            position: absolute;
            width: 100%;
            height: 100%;
            @include my-gradient(#ee4640, #ec2d8b);
            top: 0;
            left: 0;
            opacity: .93;
        }
}
.hero-content {
    position: relative;
    z-index: 2;
}
.vid-frame {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.site-header a,
.site-header button {
    color: white;
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: 1px;
}
#shopify-section-hero_about {
    padding-bottom: 0;
}
 #shopify-section-1498671531020,
 #shopify-section-1498673394963 {
     width: 80%;
     margin: 0 auto;
     position: relative;
     top: -80px;
     background: #fafafa;
     padding: 65px 0;
         @media only screen and (max-width: 749px) {
              top: -60px !important;
         }
 }
 #shopify-section-1498671531020 {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
 }
.product-btn {
    box-shadow: 0 10px 40px -10px #0000004a;
}
#ly-languages-switcher {
    margin-right: 22px;
}
.circle-link {
    padding: 40px;
}
#shopify-section-img-with-txt {
    position: relative;
}
#shopify-section-feature-columns-about {
    padding-bottom: 100px;
}
.my-form {
    max-width: 1100px;
    margin: 0 auto;
        .form-inner {
            width: 100%;
            padding: 100px 0;
        }
}
.lang-wrapper {
    display: block;
    margin: 0 15px;
}
.curve {
    position: absolute;
    top: -103%;
    width: 100%;
    @media (max-width: 880px) {
        top: -70%;
    }
    @media (max-width: 800px) {
        top: -50%;
    }
    @media (max-width: 746px) {
        top: -23%;
    }
}
.my-h-s {
    padding: 0 20px;
}
// .index-section {
//     padding-bottom: 0;
// }
.custom__item-inner--text.boom,
.video-wrapper.boom {
    box-shadow: none;
}
.gray-bg {
    background: #f7f7f7;
    padding-bottom: 100px;
}
.video-width-text-container {
    width: 100%;
    height: 80vh;
    min-height: 600px;
    color: white;
    background: #ee4640;
    background: -moz-linear-gradient(left, #ee4640 0%, #ec2d8b 100%);
    background: -webkit-linear-gradient(left, #ee4640 0%, #ec2d8b 100%);
    background: linear-gradient(to right, #ee4640 0%, #ec2d8b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4640', endColorstr='#ec2d8b', GradientType=1);
}
.video-width-text,
.inner-content-wrapper {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-width-text {
    width: 100%;
    height: 100%;
    padding: 0 110px;
    max-width: 1400px;
    margin: 0 auto;
}
.rigth-wrap,
.left-wrap {
    width: 50%;
}
.content p {
    color: white;
}

.rigth-wrap .content {
    padding: 0 8vw 0 0;
}
.divider {
    width: 100%;
    max-width: 980px;
    margin: 55px auto 0; 
    height: 1px;
    background: #e6e6e6;
    position: relative;
    bottom: 7px;
}
.video-wrapper {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 30px 80px -5px #e416166b;
}
.product-intro {
    text-align: center;
    margin: 30px auto;
    max-width: 690px;
    padding: 60px 0;
}
.product-intro h4 {
    line-height: 35px;
}

/* ===== Protocol styles ====== */

.proto-container {
    width: 100%;
    margin: auto 0;
    background: rgba(243, 243, 243, 0.37);
    padding: 100px 0;
}
.proto-content {
    width: 50%;
    padding-right: 100px;
    padding-left: 70px;
    padding-top: 4%;
}
li.action-btn {
    display: inline-block;
    width: 25px;
    height: 3px;
    background: transparent;
    position: relative;
}
li.action-btn a {
    position: relative;
    width: 40px;
    height: 3px;
    background: #eaeaea;
    display: block;
    padding: 10px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border-radius: 30px;
}
li.action-btn.active a {
    background: #ff0059;
}
li.action-btn:hover a {
    background: #ff0059;
}
li.action-btn.active a:focus {
    opacity: 1;
}
.proto-image-container {
    width: 50%;
    max-width: 431px;
    max-height: 319px;
}
.proto-image.baby {
    // box-shadow: 0px 15px 82px -50px #f38fa2;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #ffe6e6;
}
.proto-inner-item {
    position: relative;
    min-height: 450px;
}
.proto-list {
    margin-bottom: 30px;
}
.proto-list li {
    margin-right: 20px;
}
.proto-item-wrapper.active {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 5s ease-out;
    visibility: visible;
}
.proto-item-wrapper {
    display: none;
    visibility: hidden;
    transition: all 5s ease-out;
}
#frame-1 ul li {
    float: left;
    margin: 0;
    max-width: 430px;
}
.frame-ul.setclass {
    display: flex;
}
.slide-content {
    // visibility: hidden;
    display: none;
    margin-top: 50px;
}
.slide-content.active {
    // visibility: visible;
    display: block;
}
// .slide-content p {
//     font-size: 1.3em;
// }
.invert {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

/*  ====== Media Querys ======*/

@media (max-width: 990px) {
    .preorder {
        display: none;
    }
    #AccessibleNav {
        width: 70%;
    }
}
@media (max-width: 885px) {
    .flexit {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .product_image_hero {
        top: 170px;
        right: 180px;
    }
    .video-width-text,
    .inner-content-wrapper {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .rigth-wrap,
    .left-wrap,
    .medium-up--one-third,
    .proto-image-container {
        width: 100%;
    }
    .rigth-wrap {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 749px) {
    .proto-inner-item {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 65px;
    }
    .custom-content {
        flex-direction: column;
    }
    .custom__item.small--one-half {
        width: 100%;
        margin: 0;
    }
    .custom__item-inner--text {
        padding: 30px 0 !important;
    }
    .product_image_hero {
        display: none;
    }
    .product_hero_left,
    .product_hero_right {
        width: 100% !important;
    }
}

@media (max-width: 750px) {
    .page-width {
        width: 88%;
    }
    .proto-item-wrapper {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .proto-item-wrapper.active {
        position: relative;
    }
    .proto-content {
        width: 100%;
        max-width: 560px;
        margin-bottom: 25px;
        margin-top: 30px;
    }
    .video-width-text-container {
        height: auto;
        padding: 60px 0;
    }
    .product_image_hero {
        top: 140px;
        transform: scale(.9);
    }
    .feature-row__image-wrapper .feature-row__image,
    .feature-row__image-wrapper {
        max-width: 100% !important;
    }
    .video-width-text {
        padding: 0 10%;
    }
    .rigth-wrap .content {
        padding: 0;
    }
    .feature-row__image-wrapper {
        margin: 30px auto;
    }
    .site-footer {
        margin-top: 0 !important;
    }
}

@media (max-width: 540px) {
    .product_hero_right {
        display: none;
    }
    .product_hero_left {
        width: 100%;
    }
    .proto-content {
        padding: 0;
    }
    .flexit {
        width: 100% !important;
        padding: 0 10vw;
    }
    .product_hero_left,
    .product_hero_right {
        width: 100% !important;
    }
    .product_hero_left .hero_heading.principal {
        font-size: 3em !important;
    }
}
.mega-title.white {
    color: white !important;
}
.padding {
    padding-bottom: 60px;
}

/* =========== About Styles =============  */
#shopify-section-custom-content-about {
    padding-top: 0;
    position: relative;
    // top: -150px;
}
#shopify-section-img-with-txt-about-2 {
    background: #fbfbfb;
    position: relative;
    // top: -100px;
    z-index: 1;
}
.product_image_hero {
    width: 600px;
    height: 430px;
    background-position: center center;
    background-image: url(https://cdn.shopify.com/s/files/1/2122/5521/files/test5.png?1230527292872256864);
    position: relative;
    top: 115px;
    -webkit-transform: scale(1.2) translateX(50px);
            transform: scale(1.2) translateX(50px);
    -webkit-background-size: cover;
            background-size: cover;
    @media screen and (max-width:994px) {
        right: 90px;
    }
    @media screen and (max-width:670px) {
        right: 200px !important;
    }
    @media screen and (max-width:450px) {
        right: 300px !important;
    }            
}
.devider-wrap {
    margin-bottom: 75px;
    @media screen and (max-width:752px) {
        margin-bottom: 0px;
        padding: 0 20px;
    }
}
.offset-top {
    position: relative;
    top: -150px;
}
.about-img {
    margin-bottom: 0;
}
.custom__item-inner--text {
    position: relative;
    padding: 60px 35px 60px 60px;
    background: white;
    z-index: 2;
    box-shadow: 0px 16px 30px -12px #0000000d;
}
.inner-wrapper.about {
    padding-top: 110px;
    padding-bottom: 25px;
}
.display-flex {
    -webkit-display: flex;
    display: flex;
    flex-wrap: wrap;

        > * {
            width: 50%;
            @media screen and (max-width:750px) {
                width: 100%;
            }
        }  
}
.inner-wrapper.rte-setting {
    padding: 0 30px 0 0;
}
.f-links-wrapper {
    -webkit-display: flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (max-width:750px) {
        display: block;
        width: 100%;
    }
}
.footer-logo-parent {
    width: auto;
}
.site-footer__linklist {
    margin-right: 15px;
}
.my_row_itmes {
    margin: 0 15px 0 0;
    width: 200px;
    margin: 20px auto;
}
.my_row_itmes.icon {
    width: 45px;
    height: 45px;
    min-width: 45px;
    min-height: 45px;
    margin: 0px 13px 0 0; 
}
.ly-languages-switcher {
    background: transparent;
    color: white; 
    border: none;
}

/* =========== FAQ Styles =============  */

.side {
    width: 50%;
    padding: 0 55px 0;
}