{% section 'hero_about' %}

<div class="offset-top">

  {% section 'custom-content-about' %}

  {% section 'img-with-txt-about-2' %}

  {% section 'img-width-txt-about' %}

  {% section 'feature-columns-about' %}

  {% comment %} {% section 'quotes' %} {% endcomment %}

  {% comment %} {% section 'call-to-action' %} {% endcomment %}


</div>

<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">  
        {{ page.content }}
      </div>
    </div>
  </div>
</div> -->

