<style>
  .gray-bg {
    background: #f7f7f7;
    padding-bottom: 100px;
  }
  .video-width-text-container {
    width: 100%;
    height: 80vh;
    min-height: 600px;
    color: white;
    background: #ee4640;
    background: -moz-linear-gradient(left, #ee4640 0%, #ec2d8b 100%);
    background: -webkit-linear-gradient(left, #ee4640 0%,#ec2d8b 100%);
    background: linear-gradient(to right, #ee4640 0%,#ec2d8b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee4640', endColorstr='#ec2d8b',GradientType=1 );
  }
  .video-width-text,
  .inner-content-wrapper {
     display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .video-width-text {
    width: 100%;
    height: 100%;
    padding: 0 110px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .rigth-wrap,
  .left-wrap {
    width: 50%;
  }
  .content p {
    color: white;
  }
  .rigth-wrap .content {
    padding: 0 75px 0 0;
  }
  
  .divider {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    height: 1px;
    background: #e6e6e6;
    position: relative;
    bottom: 7px;
  }
  
  .video-wrapper {
    border-radius: 5px;
    overflow: hidden;
  }
  .product-intro {
    text-align: center;
    margin: 30px auto;
    max-width: 690px;
    padding: 60px 0;
  }
  .product-intro h4 {
    line-height: 35px;
  }
  
  
  
  /* ===== Protocol styles ====== */
  .proto-container {
    width: 100%;
    margin: 70px auto 0;
    background: rgba(243, 243, 243, 0.37);
    padding: 100px 0;
  }
  .proto-inner-item {
    
  }
  .proto-content {
    width: 50%;
    padding-right: 100px;
    padding-left: 70px;
    padding-top: 4%;
  }
  .content-nav {
    
  }
  li.action-btn {
    display: inline-block;
    width: 25px;
    height: 3px;
    background: transparent;
    padding: 20px;
    position: relative;
    cursor: pointer;
  }
  li.action-btn:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: lightgray;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
  }
  li.action-btn.active:before {
    background: red;
  }
  li.action-btn:hover:before {
    background: red;
  }
  .proto-image-container {
    width: 50%;
    max-width: 431px;
    max-height: 319px;
  }
  .proto-inner-item {
    position: relative;
    min-height: 450px;
  }
  .proto-list {
    margin-bottom: 30px;
  }
  .proto-list li {
    margin-right: 5px;
  }
  .proto-item-wrapper.active {
     display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    transition: all 5s ease-out;
    visibility: visible;
  }
  .proto-item-wrapper {
    display: none;
    visibility: hidden;
    transition: all 5s ease-out;
  }
  
  .invert{
     -webkit-flex-direction: row-reverse;
     flex-direction: row-reverse;
  }
  
  
  
  /*  ====== Media Querys ======*/
  
  @media (max-width: 768px) {
  .product_image_hero {
    top: 170px;
    right: 180px;
  }
  .video-width-text, .inner-content-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .rigth-wrap, .left-wrap, .medium-up--one-third, .proto-image-container {
    width: 100%;
  }
  .rigth-wrap {
    margin-bottom: 30px;
  }
}
  
  @media (max-width: 750px) {
    .page-width {
      width: 88%;
    }
    .proto-item-wrapper {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .proto-item-wrapper.active {
      position: relative;
    }
    .proto-content {
      width: 100%;
      max-width: 560px;
      margin-bottom: 40px;
      margin-top: 30px;
    }
  
    .video-width-text-container {
      height: auto;
      padding: 60px 0;
    }
    .product_image_hero {
      top: 140px;
      transform: scale(.9);
    }
    .feature-row__image-wrapper .feature-row__image,
    .feature-row__image-wrapper {
      max-width: 100% !important;
    }
    .video-width-text {
      padding: 0 10%;
    }
    .rigth-wrap .content {
      padding: 0;
    }
  }
  @media (max-width: 540px) {
  .product_hero_right  {
    display: none;
  }
  .product_hero_left {
    width: 100%;
  }
  .proto-content {
    padding: 0;
  }

}
</style>


<div class="gray-bg">
  {% section 'hero-product' %}
  {% comment %} <div class="page-width product-intro">
    <h4>Gardien acts as your Memory Assistant and your child’s Gardien Angel. Gardien works in the background, giving you peace of mind that your child will never be forgotten.</h4>
  </div> {% endcomment %}
  {% section 'img-with-txt' %}
  <div class="divider"></div>
  {% section 'img-with-txt-two' %}
</div>

<!-- how does work? section -->
<div class="video-width-text-container">
  <div class="video-width-text">
    <div class="inner-content-wrapper">
      <div class="rigth-wrap">
        <div class="content">
          <h4>How does it work?</h4>
          <h2>Peace of mind in the palm of your hand.</h2>
          <p>The car seat sensor pad detects the presence of a child. A signal taken from the car seat sensor pad is communicated wirelessly to the smartphone module. The smartphone then begins monitoring the presence of the child and will alert you if the child is forgotten in the vehicle.</p>
        </div>
      </div>
      <div class="left-wrap">
        <div class="content">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- features section -->
  {% section 'product-features' %}

<!-- alert protocols section -->
{% section 'protocols'%}

<!-- get the app section -->
{% section 'call-to-action' %}


<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> -->




