{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}<div class="gray-bg">
  {% section 'hero-product' %}
  {% comment %} <div class="page-width product-intro">
    <h4>Gardien acts as your Memory Assistant and your child’s Gardien Angel. Gardien works in the background, giving you peace of mind that your child will never be forgotten.</h4>
  </div> {% endcomment %}
  {% section 'img-with-txt' %}
  <div class="divider"></div>
  {% section 'img-with-txt-two' %}
</div>

<!-- how does work? section -->
<div class="video-width-text-container">
  <div class="video-width-text">
    <div class="inner-content-wrapper">
      <div class="rigth-wrap">
        <div class="content">
          <h5><ly-as-7121146>How does it work?</ly-as-7121146></h5>
          <h1><ly-as-7121147>Peace of mind in the palm of your hand.</ly-as-7121147></h1>
          <p><ly-as-7121148>The car seat sensor pad detects the presence of a child. A signal taken from the car seat sensor pad is communicated wirelessly to the smartphone module. The smartphone then begins monitoring the presence of the child and will alert you if the child is forgotten in the vehicle.</ly-as-7121148></p>
        </div>
      </div>
      <div class="left-wrap">
        <div class="content">
          <div class="video-wrapper">
            <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- alert protocols section -->
{% section 'protocols'%}

<!-- features section -->
  {% section 'product-features' %}


<!-- get the app section -->
{% section 'call-to-action' %}




