{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="padding">
{% section 'hero-support' %}
{% comment %} {% section 'img-with-txt-support-1' %} {% endcomment %}
  {% comment %} <div class="divider"></div> {% endcomment %}
{% section 'custom-content-support' %}
{% section 'img-w-txt-support' %}
{% include 'form' %}


<style>
  .faq-container {
    background: #fbfbfb;
    padding-top: 60px;
  }
  .inner-faq {
    display: -webkit-flex;
    display: flex;
  }
  .left-content, 
  .right-content {
    width: 50%;
    padding: 0 55px 0;
  }
  .inner-content {
    margin: 40px 0;
  }
  .inner-content h4 {
    padding: 20px 20px 20px 0;
    border-bottom: 1px solid #00000017;
  }
  .inner-content p {
    padding: 0 20px;
  }
  @media only screen and (max-width: 575px) {

    .inner-faq {
     -webkit-flex-direction: column;
             flex-direction: column;
    }
    .left-content, .right-content {
      width: 100%;
    }

  }
</style>

{% comment %} <div id="faq" class="faq-container">
  <h2 style="text-align:center">FAQ</h2>
  <div class="page-width inner-faq">
    <div class="left-content">
      <div class="inner-content">
        <h4>Limited Warranty</h4>
        <p>*See Instruction Set Document</p>
      </div>
      
      <div class="inner-content">
        <h4>Cleaning & Maintenance</h4>
        <p>Clean the Gardien Alert System with a slightly damp cloth or with an anti-static cloth. Never use cleaning agents or abrasive solvents.  </p>
      </div>
      
      <div class="inner-content">
        <h4>Cleaning and Care</h4>
        <p>Do not clean any part of the product with thinners or other solvents and chemicals, this may cause permanent damage to the product which is not covered by the warranty.</p>
        <p>Keep your Gardien Alert System away from extremely hot temperatures exceeding 120° Fahrenheit, away from extremely cold temperatures exceeding 40° Fahrenheit (direct exposition), humid areas or strong direct sunlight, and don't let it get wet.</p>
        <p>If the Sensor Pad gets wet, clean it with a slight damp cloth and let it air dry.</p>
        <p>Every effort has been made to ensure high standards of reliability for your Gardien Alert System.  However, if something does go wrong, please do not try to repair it yourself, contact Customer Service for assistance.</p>
      </div>
      
      <div class="inner-content">
        <h4>Maintenance</h4>
        <p>No special maintenance is required on this Gardien Alert System.</p>
        <p>Replace the CR2 type battery as soon as it reaches the 20%. This will ensure that you never run out of battery and leave the system vulnerable to malfunctions.</p>
        <p>The CR2 battery is Lithium ion, please dispose it accordingly.</p>
        <p>If the system is going to remain unused for a prolonged period of time, please remove the battery to avoid damage.</p>
      </div>
      
    </div>
    <div class="right-content">
      
      <div class="inner-content">
        <h4>Regulations</h4>
        <p>*Add Certifications</p>
      </div>
      
      <div class="inner-content">
        <h4>Technical Specifications</h4>
        <p>*Add Certifications</p>
      </div>
      
      <div class="inner-content">
        <h4>Disposal of Device (Environment)</h4>
        <p>At the end of the products lifecycle, you should not dispose of this product with normal household waste. Take this product to a collection point for the recycling of electrical and electronic equipment. The symbol on the product, user's guide and/or box indicates this. Some of the product materials can be reused if you take them to a recycling point. By reusing some parts or raw materials from used products you make an important contribution to the protection of the environment. Please contact your local authorities in case you need more information on the collection points in your area. Dispose of the battery pack in an environmentally friendly manner according to your local regulations.</p>
      </div>
    </div>
  </div>
</div> {% endcomment %}
 {% comment %} {% section 'faq-content'%}  {% endcomment %}
{% comment %} {% section 'custom-content-support' %}
{% section 'custome-html-support' %} {% endcomment %}
</div>
{% section 'call-to-action' %}

<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
      </div>

      <div class="rte">
        {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>
    </div>
  </div>
</div> -->

