

{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% section 'hero-general'%}
<div class="page-width">
  <div class="grid">


  <div class="filter-wrapper">
  <h2>Helpful Resources</h2>
    <div class="filter">
      <div class="f-img">
        <img class="" src="https://cdn.shopify.com/s/files/1/2122/5521/files/3_ad2afb37-52df-4f94-ae71-db2c5429a41b.png?14339349121695898977">
      </div>
      <a href="#one" class="f-link">Product Related ></a>
      <p class="f-p">All about product specific</p> 
    </div>

     <div class="filter">
      <div class="f-img">
          <img class="" src="https://cdn.shopify.com/s/files/1/2122/5521/files/2_8dfffb82-e489-4f4f-9c07-8512d3119a2c.png?14339349121695898977">
      </div>
      <a href="#two" class="f-link">Shipping ></a>
      <p class="f-p">All about shipping & availability</p> 
    </div>

     <div class="filter">
      <div class="f-img">
        <img class="" src="https://cdn.shopify.com/s/files/1/2122/5521/files/1_d3838be5-0e93-4d6c-b0ee-fbac924e9b3d.png?14339349121695898977">
      </div>
      <a href="#three" class="f-link">Warranty ></a>
      <p class="f-p">All about warranty & returns</p> 
    </div>

    <div class="filter">
      <div class="f-img">
        <img class="" src="https://cdn.shopify.com/s/files/1/2122/5521/files/recorder.png?6298312978182185823">
      </div>
      <a href="#four" class="f-link">Event Data Recorder ></a>
      <p class="f-p">All about EDR</p> 
    </div>

  </div>
  





    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        {% comment %} <h1>{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1> {% endcomment %}
      </div>

      <div class="rte">
        {% include 'ly-content' with page %}
        {{ ly_translation }}
      </div>
    </div>
  </div>
</div>




<style>
h1, h2, h3 {
 color: black;
}
.mega-title {
  color: white;
}
</style>

