{% section 'hero_about' %}

{% section 'img-width-txt-about' %}


{% section 'custom-content-about' %}


{% section 'img-with-txt-about-2' %}


{% section 'quotes' %}
{% section 'feature-columns' %}
{% section 'call-to-action' %}


<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div> -->

